/**
* Variaveis
* Color
* Fonts
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  height: 10000px; }

a {
  text-decoration: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.bar1,
.bar2,
.bar3 {
  width: 28px;
  height: 3px;
  background-color: #be9955;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -6px); }

@media (max-width: 980px) {
  .navbar .container {
    display: flex; }
  .navbar-icons {
    display: none; }
  .navbar .menu-mobile {
    display: block;
    position: absolute;
    right: 35px;
    z-index: 100; }
  .navbar-menu {
    position: absolute;
    top: 0;
    right: -280px;
    width: 280px;
    height: 100vh;
    background-color: #0c0c0c;
    transition: right 0.4s ease-in; }
  .navbar-nav {
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; }
    .navbar-nav .nav-item {
      margin: 2rem 0; }
    .navbar-nav .nav-link {
      color: #be9955;
      text-transform: uppercase; }
  .navbar .show {
    right: 0;
    transition: right 0.4s ease-in; } }

.navbar {
  width: 100%;
  margin: auto;
  position: fixed;
  transition: all 0.4s ease-in;
  padding: 20px 0;
  z-index: 3; }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar-logo a {
    font-family: "Kaushan Script", cursive;
    font-size: 2rem;
    color: #fff; }
    .navbar-logo a span {
      color: #be9955; }

@media (min-width: 981px) {
  .navbar .menu-mobile {
    display: none; }
  .navbar .active::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #be9955;
    margin-top: 6px; }
  .navbar-menu {
    display: flex; }
  .navbar-nav {
    display: flex;
    list-style: none; }
    .navbar-nav .nav-item {
      margin: 0 15px; }
    .navbar-nav .nav-link {
      font-size: 1rem;
      color: #fff; }
      .navbar-nav .nav-link:hover::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: #be9955;
        margin-top: 6px; }
  .navbar-icons .fab {
    font-size: 2rem;
    margin: 0 0.3rem;
    color: #be9955; }
    .navbar-icons .fab:hover {
      color: rgba(190, 153, 85, 0.8); } }

.navbar-animation {
  background-color: #333;
  padding: 10px 0; }

.showcase {
  width: 100%;
  height: 100vh;
  background-image: url("../img/showcase-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }
  .showcase-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.9);
    z-index: -1; }
  .showcase-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .showcase-content h2 {
      font-size: 1.2rem;
      font-style: italic; }
    .showcase-content h1 {
      font-family: "Kaushan Script", cursive;
      font-size: 3rem;
      text-transform: uppercase; }
    .showcase-content p {
      font-size: 1.3rem; }
      .showcase-content p span {
        color: #be9955; }

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
  color: #be9955;
  font-weight: 700;
  font-family: "Kaushan Script", cursive;
  font-size: 1.4rem; }

.btn {
  display: inline-block;
  background: #be9955;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  padding: 0.4rem 0.8rem;
  margin-top: 2rem;
  border-radius: 2px;
  box-shadow: 3px 5px 5px rgba(12, 12, 12, 0.5); }
  .btn:hover {
    background-color: rgba(190, 153, 85, 0.8); }
