/**
* Variaveis
* Color
* Fonts
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 20px;
  height: 10000px; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

.container {
  width: 80%;
  margin: 0 auto; }

.bar1,
.bar2,
.bar3 {
  width: 28px;
  height: 3px;
  background-color: #be9955;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -6px); }

@media (max-width: 980px) {
  .navbar .container {
    display: flex; }
  .navbar-icons {
    display: none; }
  .navbar .menu-mobile {
    display: block;
    position: absolute;
    right: 35px;
    z-index: 100; }
  .navbar-menu {
    position: absolute;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100vh;
    background-color: #f2f2f2;
    transition: left 0.4s ease-in; }
  .navbar-nav {
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; }
    .navbar-nav .nav-item {
      margin: 2rem 0; }
    .navbar-nav .nav-link {
      color: #0c0c0c;
      text-transform: uppercase; }
  .navbar .show {
    left: 0;
    transition: left 0.4s ease-in; } }

.navbar {
  width: 100%;
  margin: auto;
  position: fixed;
  transition: all 0.4s ease-in;
  padding: 20px 0;
  z-index: 3; }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar-logo a {
    font-family: "Kaushan Script", cursive;
    font-size: 2rem;
    color: #fff;
    text-decoration: none !important; }
    .navbar-logo a span {
      color: #be9955; }

@media (min-width: 981px) {
  .navbar .menu-mobile {
    display: none; }
  .navbar .active::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #be9955;
    margin-top: 6px; }
  .navbar-menu {
    display: flex; }
  .navbar-nav {
    display: flex;
    flex-direction: row !important;
    list-style: none; }
    .navbar-nav .nav-item {
      margin: 0 15px; }
    .navbar-nav .nav-link {
      font-size: 1rem;
      color: #fff; }
      .navbar-nav .nav-link:hover::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: #be9955;
        margin-top: 6px; }
  .navbar-icons .fab {
    font-size: 1.2rem;
    margin: 0 0.3rem;
    color: #be9955; }
    .navbar-icons .fab:hover {
      color: rgba(190, 153, 85, 0.8); } }

.navbar-animation {
  background-color: #333;
  box-shadow: 4px 0 4px rgba(190, 153, 85, 0.8);
  padding: 10px 0; }

.portfolio-links {
  text-align: center; }

.portfolio-link {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 0.8rem; }
  .portfolio-link:hover {
    color: #be9955 !important; }

.portfolio-active {
  color: #be9955 !important; }

.servicos-container {
  background-color: #333;
  box-shadow: 0px 0px 3px rgba(12, 12, 12, 0.5);
  color: #fff;
  padding: 0.7rem;
  cursor: pointer; }
  .servicos-container:hover {
    box-shadow: 0px 0px 3px rgba(190, 153, 85, 0.5); }

.servicos-title {
  display: flex;
  justify-content: space-between; }
  .servicos-title h4 {
    font-size: 1rem; }
  .servicos-title .fas,
  .servicos-title .fab {
    color: #be9955; }

.servicos-content p {
  font-size: 0.8rem;
  font-weight: 300; }

.showcase {
  width: 100%;
  height: 100vh;
  background-image: url("../img/showcase-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  position: relative;
  z-index: 1; }
  .showcase-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.9);
    z-index: -1; }
  .showcase-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .showcase-content h2 {
      font-size: 1.2rem;
      font-style: italic; }
    .showcase-content h1 {
      font-family: "Kaushan Script", cursive;
      font-size: 3rem;
      text-transform: uppercase; }
    .showcase-content p {
      font-size: 1.3rem; }
      .showcase-content p span {
        color: #be9955; }

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
  color: #be9955;
  font-weight: 700;
  font-family: "Kaushan Script", cursive;
  font-size: 1.4rem; }

.skills {
  background-color: #333;
  box-shadow: 0px 0px 3px rgba(12, 12, 12, 0.5);
  color: #fff; }
  .skills .progress {
    background-color: #333; }
  .skills .progress-title {
    font-size: 0.7rem;
    margin: 0;
    padding: 0; }
  .skills .bg-template {
    background-color: #be9955; }

.btn {
  display: inline-block;
  background: #be9955;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  padding: 0.4rem 0.8rem;
  margin-top: 2rem;
  border-radius: 2px;
  box-shadow: 3px 5px 5px rgba(12, 12, 12, 0.5); }
  .btn:hover {
    background-color: rgba(190, 153, 85, 0.8); }

.title {
  font-size: 1.3rem; }

.title-custom {
  color: #be9955;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 1rem; }

.title-sub {
  font-size: 1rem; }

.title-paragraphy {
  text-align: justify;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 1rem; }

.content-title {
  text-align: center;
  margin-bottom: 4rem; }
  .content-title::after {
    content: "";
    width: 10%;
    height: 2px;
    display: block;
    background-color: #be9955;
    margin: 8px auto; }

.about {
  text-align: center; }
  .about-content {
    margin-top: 10rem; }
  .about-img {
    margin-bottom: 2rem;
    position: relative;
    margin-left: 30px;
    margin-right: 0;
    border-radius: 8px;
    z-index: 1; }
    .about-img::before {
      content: "";
      display: block;
      position: absolute;
      top: -27px;
      left: -27px;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #cf9c63 5%, #fff 100%);
      border-radius: 8px;
      z-index: -1; }
  .about-info {
    width: 100%;
    background: #333;
    color: #fff;
    border: 1px solid rgba(12, 12, 12, 0.4);
    box-shadow: 2px 2px 3px rgba(12, 12, 12, 0.5);
    padding: 1rem; }
    .about-info--list {
      list-style: none;
      text-align: justify;
      list-style-position: inside;
      margin-left: 0.5rem; }
      .about-info--list li {
        font-size: 0.8rem;
        margin-bottom: 0.4rem; }
      .about-info--list i {
        margin-right: 0.6rem; }
    .about-info--icons .fab {
      font-size: 1.6rem;
      color: #be9955; }

@media (min-width: 780px) {
  .about-img img {
    margin-bottom: 0; }
  .about-content {
    display: flex; }
  .about-text {
    margin-left: 3rem; }
  .about-info {
    position: relative; }
    .about-info--icons {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10px;
      right: 11px; } }
