.navbar {
  width: 100%;
  margin: auto;
  position: fixed;
  transition: all 0.4s ease-in;
  padding: 20px 0;
  z-index: 3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo a {
    font-family: $font-secundaria;
    font-size: 2rem;
    color: $color-light;
    text-decoration: none !important;

    span {
      color: $color-template-1;
    }
  }
}

// Media Menu Desktop
@media (min-width: 981px) {
  .navbar {
    // Hide Btn Mobile
    .menu-mobile {
      display: none;
    }

    // active bar link
    .active {
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: $color-template-1;
        margin-top: 6px;
      }
    }

    &-menu {
      display: flex;
    }

    &-nav {
      display: flex;
      flex-direction: row !important;
      list-style: none;

      .nav-item {
        margin: 0 15px;
      }

      .nav-link {
        font-size: 1rem;
        color: $color-light;

        &:hover::after {
          content: "";
          width: 100%;
          height: 2px;
          display: block;
          background-color: $color-template-1;
          margin-top: 6px;
        }
      }
    }

    &-icons a {
      border: 1px solid $color-template-1;
      border-radius: 50%;
      padding: 0.1rem;
    }

    &-icons .fab {
      font-size: 1.2rem;
      margin: 0 0.3rem;
      color: $color-template-1;
      &:hover {
        color: rgba($color-template-1, 0.8);
      }
    }
  }
}

// Animation Navbar
.navbar-animation {
  background-color: $color-dark;
  box-shadow: 4px 0 4px rgba($color-template-1, 0.8);
  padding: 10px 0;
}
