// Buttons
.btn {
  display: inline-block;
  background: $color-template-1;
  color: $color-light;
  font-family: $font-secundaria;
  padding: 0.4rem 0.8rem;
  margin-top: 2rem;
  border-radius: 2px;
  box-shadow: 3px 5px 5px rgba($color-template-dark, 0.5);

  &:hover {
    background-color: rgba($color-template-1, 0.8);
  }
}
