// Buttons
.btn {
  display: inline-block;
  background: $color-template-1;
  color: $color-light;
  font-family: $font-secundaria;
  padding: 0.4rem 0.8rem;
  margin-top: 2rem;
  border-radius: 2px;
  box-shadow: 3px 5px 5px rgba($color-template-dark, 0.5);

  &:hover {
    background-color: rgba($color-template-1, 0.8);
  }
}

// Titles
.title {
  font-size: 1.3rem;
  // font-family: $font-secundaria;
}

.title-custom {
  color: $color-template-1;
  font-family: $font-secundaria;
  margin-bottom: 1rem;
}

.title-sub {
  font-size: 1rem;
}

.title-paragraphy {
  text-align: justify;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 1rem;
}

.content-title {
  text-align: center;
  margin-bottom: 4rem;

  // Line After
  &::after {
    content: "";
    width: 10%;
    height: 2px;
    display: block;
    background-color: $color-template-1;
    margin: 8px auto;
  }
}
