// Color Default
$color-dark: #333;
$color-light: #fff;

// Color Template
$color-template-1: #be9955;
$color-template-2: #f2db98;
$color-template-3: #f2657f;
$color-template-dark: #0c0c0c;
$color-template-light: #f2f2f2;

$font-primaria: "Open Sans", sans-serif;
$font-secundaria: "Righteous", cursive;
